/* --- ESTILOS TEMPORALES PARA EXPORTAR PDF --- */

/* Esta clase neutraliza los contenedores padre */
.pdf-export-parent {
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
}

/* Esta clase aplica el tema blanco al contenido del presupuesto */
.pdf-export-mode {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.pdf-export-mode .info-empresa h1,
.pdf-export-mode .seccion-presupuesto h2,
.pdf-export-mode .tabla-costos tfoot {
    color: #007BFF !important;
}

.pdf-export-mode .info-header p,
.pdf-export-mode .info-header p strong,
.pdf-export-mode .info-empresa p,
.pdf-export-mode .seccion-presupuesto p,
.pdf-export-mode .seccion-presupuesto p strong,
.pdf-export-mode .footer-presupuesto p,
.pdf-export-mode .tabla-costos td,
.pdf-export-mode .tabla-costos th {
    color: #000000 !important;
}

.pdf-export-mode .tabla-costos thead,
.pdf-export-mode .tabla-costos tfoot {
    background-color: #eeeeee !important;
}

.pdf-export-mode .tabla-costos th,
.pdf-export-mode .tabla-costos td {
    border-color: #cccccc !important;
}